<section id="bottom">
    <div class="container-fluid bottom-footer">
  
      <div class="row">

        <div class="col-lg-3">
              <span style="color: blue;"><h4><span style="color: blue;">CONTACT US</span></h4></span>
              <P style="color: #888A90;">Plots 6 & 7 Simeon Adebo Avenue, Iyaganku GRA, Ibadan, Nigeria <br>
              TEL: +234 (0) 8160149421 <br>
              E-mail:theAnwar_college@yahoo.com</P>
        </div>

        <div class="col-lg-3">
          <h4>SOCIAL <span style="color: blue;">MEDIA</span></h4>
          <a class="icon" href="#"><i class="fab fa-twitter"></i> Twitter</a><br>
          <a class="icon" href="#"><i class="fab fa-facebook-f"></i> Facebook</a><br>
          <a class="icon" href="#"><i class="fab fa-instagram"></i> Instagram</a><br>
          <a class="icon" href="#"><i class="fab fa-instagram"></i> Instablog</a>
        </div>
  
          <div class="col-lg-3">
            <h4>QUICK <span style="color: blue;">LINKS</span></h4>
            <a href="/admission">Admission</a><br>
            <a href="/login">Email Login</a><br>
            <a href="/admission">Registration</a><br>
            <a href="/login">PTA</a> 
          </div>
  
            <div class="col-lg-3">
              <h4><span style="color: blue;">MENU</span></h4>
              <a href="/home">HOME</a><br>
              <a href="/about">ABOUT US</a><br>
              <a href="/admission">ADMISSION</a><br>
              <a href="/gallery">GALLERY</a><br>
             
            </div>
      </div>
    </div>
  </section>


  <footer id="footer">
  <p class="footer-heading">© Copyright 2020 Anwar College</p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/script/index.js"></script>
</body>
</html>

